:root{
    --shadow-clr100:gray;
    --link-bg-clr: rgb(25, 208, 214);
    --bg-nav: rgb(25, 176, 214);
    --bg-main: rgb(231, 231, 231);
    --bg-header-tabs: rgb(255, 255, 255);
    --border-radius: 10px;
    --border-project: solid 1px black;
    --fs-main: 1rem;
    --fs-small: .75rem;
    --fs-medium: .875rem;
    --left-side-padding: 1.25rem;
    --margin-100: 0.625rem;
    --padding-200:1.25rem;
}

html,
body{
    height: 100%;
    margin:0;
    
}

img[src$='jpg'] {
    border-radius: 50px;
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

a:hover{
   background-color: var(--link-bg-clr);
   border: 1px solid rgb(5, 181, 194);
   border-radius: 50px;
   box-shadow: 1px 1px 3px rgb(233, 222, 222);
   box-sizing: border-box;
}

.container{
    height: 100%; 
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.nav{
    grid-row: 1/3;
    gap:20px;
    background-color: var(--bg-nav);
    align-content: center;

    
}

a > img{
    padding:5px;
    align-items: end;
}

ul{
    display: grid;
    gap: 20px;
    grid-template-rows: auto;
   

    
}

p,
h2, h3{
    margin: var(--margin-100);
}

.header{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: var(--bg-header-tabs);
    
}


.admin-btns{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    justify-self: end;
    padding: var(--padding-200);
}


.user-text{
    grid-column: 1/2;
    padding-left: var(--left-side-padding);
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
} 

.user-text > img{
    grid-column: 1/2;
    grid-row: 1/2;
}

.user-text > div{
    grid-column: 2/3;
    padding:  var(--padding-200);
}

.user-text > div > p, h1{
   margin: 0;
}


.user{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap:20px;
    align-items: center;
    justify-content: end ;
    padding: 1rem;
}

.user > img[src*='bell']:hover{
    content: url('/resources/Images/Icons/Vector.svg');
}

.user > h2{
    margin: 0;
}

.search-bar{
    padding-left: var(--left-side-padding);
    align-items: center;
    display:grid;
    grid-template-columns: min-content 2fr;
    gap: 10px;
    
}

#search{
    border-radius: 50px;
    border-style: none;
    background-color: rgb(224, 224, 224);
    width: 60vh;
    height: 3vh;
}

#search:focus{
    outline:none;
    border: 1px solid gray;
    box-shadow: 2px 1px 5px gray;
    
}

.main{
    display: grid;
    padding: 10px 20px 50px;
    padding-bottom: 50px;
    text-align: left;
    gap: 20px;
    background-color: var(--bg-main);
    grid-template-columns: 3fr 1fr;
    grid-template-rows:  minmax(50px, 60px) 3fr minmax(50px, 60px) 3fr;
}

.project-heading{
    grid-column: 1/2;
} 
.projects{
    grid-column: 1/2;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.projects > div{
    background-color: var(--bg-header-tabs);
    border-radius: 10px;
    border: 1px solid black;
    font-size: var(--fs-main);
}
.rside-panel{
    display: grid;

}
.announcement-heading{
    grid-column: 2/3;
} 
.announcement{
    grid-row: 2/3;
    display: grid;
    border: black solid 1px;
    border-radius: var(--border-radius);
    background-color: var(--bg-header-tabs);
    
}

.announcement > div > p{
    font-size: var(--fs-medium);
}


.trending-heading{
    grid-row: 3/4;
   
}

.trending{
   
    border: black solid 1px;
    border-radius: var(--border-radius);
    background-color: var(--bg-header-tabs);
    display: grid;
    grid-template-columns: min-content 2fr ;
    grid-template-rows: repeat(4, minmax(60px, 80px));
    align-items: center;
    padding:10px;

}







